@media (min-width: 520px) {
    footer {
        background: #ffffff;
        width: 100%;
        padding: 50px 20px 20px;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footerContainer {
        width: 100%;
        max-width: 1100px;
        display: flex;
        justify-content: space-between;
        gap: 60px;
        margin-bottom: 30px;
    }
}

@media (max-width: 520px) {
    .footerHeading {
        font-size: 20px;
        font-weight: 700;
        color: #111;
        margin-bottom: 10px;
        position: relative;
    }
    
    .footerHeading::after {
        content: "";
        width: 40px;
        height: 3px;
        background: blueviolet;
        position: absolute;
        left: 0;
        bottom: -6px;
        border-radius: 5px;
    }
    
    .linkList {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .link {
        text-decoration: none;
        font-size: 20px;
        color: #444;
        transition: all 0.3s ease;
    }
    
    .link:hover {
        color: blueviolet;
        transform: translateX(6px);
    }
    
    .contactContent {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    
    .icon {
        width: 30px;
    }
    .logo {
        display: block;
        margin: 0px auto;
        width: 110px;
        animation: rotation linear 6s infinite;
    }

    .logoBox p {
        width: 100%;
        font-size: 35px;
        font-weight: 700;
        color: #111;
        display: flex;
        justify-content:center;
    }
    footer {
        background: #ffffff;
        width: 100%;
        padding: 50px 20px 20px;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .footerContainer {
        width: 100%;
        max-width: 1100px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;
        gap: 60px;
        margin-bottom: 30px;
    }

    .footerContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        flex: 1;
    }
}